* {
    font-family: 'Lato', serif;
}

body{
    background-color: #CCE3EB;
    /*background-color:#269;*/
background-image: 
    linear-gradient(white 1px, transparent 1px),
    linear-gradient(90deg, white 1px, transparent 1px),
    linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.2) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}

.headlineText {
    margin: 0;
    display: inline;
    font-size: 1.5em;
    text-decoration: none;
    color: #000000;
}

.subText{
    display: inline-block;
    font-size: .9em;
    color: #666666;
    padding-left: 10px;
    text-decoration: none;
}
a .subText{
    cursor: pointer;
}
.projectContainer .subText{
    position: relative;
    display: block;
    text-align: center;
}

#contentWrapper {
    position:absolute;
    width: 800px;
    /*height: 200px*/;
    display: inline-block;
    background-color: #FFFFFF;
    /*text-align: center;*/
    border: 2px solid rgba(143,139,143,1);
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -400px;
}

.content{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    overflow: hidden;
}

#header{
    border-bottom: 1px dotted #333333;
    margin-top: 20px;
    width: 90%;
    /*float: center;*/
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6px;
    z-index: 9999;
}

#headerDescriptor{
    font-size: .7em;
    color: #666666;
    padding-left: 40px;
}

#staticBackground{
    position: absolute;
    height: 100%;
    width: 100%;
    background:#eeeeee;
}

#projectContainer{
    position: relative;
    height: 100%;
    width: 100%;
}

.projectButton{

    padding: 4px 12px;
    font-size: 1.12em;
    /*background-color: #333333;*/
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    background-color: #5297D8;
}

.projectDescription{
    display: block;
    padding-bottom: 0px;
}

.projectTitle{
    height: 33px;
    border-bottom: 1px dotted #333333;
}

nav a:hover {
    background-color: #CCE3EB;
}

/*.content.ng-enter,
.content.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.content.ng-enter {
    top: -50px;
}
.content.ng-enter-active {
    top: 0;
}
.content.ng-leave {
    top: 0;
}
.content.ng-leave-active {
    top: 100%;
}*/
.content.ng-enter,
.content.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.content.ng-enter{
    opacity: 0;
}

.content.ng-leave{
    opacity: 0;
    position: absolute;
}

.content.ng-enter-active{
    opacity: 1;
}

.content.ng-leave-active{
    opacity: 0;
}