<!--<script type='text/javascript' src='js/delaunay.js'> </script>
<script type='text/javascript' src='js/poly.js'> </script>
<link href='css/poly.css' rel='stylesheet' type='text/css'>-->
<div class="projectContainer" ng-controller="polyController">
	<!--<a class="generate" ng-click="createNewPoly()">Generate new poly art</a>-->
	<p>(click canvas to generate new poly art)</p>
	<canvas id="polyCanvas" height="500" width="500" ng-click="createNewPoly()"></canvas>
</div>
	<!--<script type='text/javascript' src='https://raw.githubusercontent.com/ironwallaby/delaunay/master/delaunay.js'></script>-->