<div>
	<p>This is an small template for an example page and project</p>
	<!-- list contianing project header info -->
	<div class="projectTitle">
		<p class="headlineText">Expulsions Begin and Bodenreform is Carried Out</p>
	</div>
	<ul id="projectList" style="list-style-type: none;">
		<!-- sub-headline list -->
		<li>
			<p class="projectDescription"> 
				Most accounts of refugees after WWII focus on the large number of displaced

				people that had lost their homes as a result of desolation from the war and 

				the reorganization of Germany. Bodenreform, translated literally as “land 

				reform” in German, is a term used to describe the reorganization of land that 

				took place in the former territories of East Germany and present day Poland 

				after the Potsdam Agreement; large estates, mostly owned by noble families, 

				were confiscated, the land distributed among cottagers, landless farmhands, 

				and displaced people with Polish or Soviet ancestry. A large estate was 

				anything that was over 50 Hectares (around 100 acres). The territories being 

				referred to in this analysis are primarily Pomerania and Silesia, two large 

				German States, which ended up being controlled by the Soviet Military 

				Administration in Germany (SMAD).
			</p> 
			<p class="projectDescription">
				Bodenreform was an interesting case when looking from the perspective of

				the resettlement of refugees; it both created refugees and helped settle past 

				polish refugees displaced from wartime. It also served as a huge tool for the 

				redistribution of wealth in Germany and Poland, permanently changing the 

				social landscape. It took from the rich and gave to the poor.
			</p>
			<p class="projectDescription">
				It also acted to confiscate those estates owned by Nazi’s convicted of War

				Crimes, but this only amounted for about 4% of the land confiscated. For the 

				most part, the historic nobility of Silesia and Pomerania had owned the 

				confiscated land, sometimes dating back to 1,000 years depending on the 

				family. These families were referred to as Junkers when no other title was 

				present. This is the name we will call them by for the rest of the analysis.
			</p>
			<p class="projectDescription">
				When the communist parties of Poland and Soviet Russia seized these

				estates, the Estate owners were given no compensation and were robbed of 

				all of their belongings, from dishware to family heirlooms. This 

				reorganization still holds in modern day, as some families have sued the state 

				to regain their former estates or gain compensation, virtually all of which 

				requests have been denied.
			</p>
			
		</li>
		<li>
			<!--<a href=""> more coming soon </a>-->
		</li>
	</ul>
	<div class="projectTitle">
		<p class="headlineText">Bodenreform</p>
	</div>
	<ul id="projectList" style="list-style-type: none;">
		<li>		
			
			<div class ="projectTitle">
			    <p class="headlineText"> Society before reform</p>
			</div>
			<img src="photos/map.png" alt="hi" class="inline"/>
			<p class="projectDescription"> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>

			</p class="projectDescription">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
			</p>
			<div class ="projectTitle">
			    <p class="headlineText"> Society after reform</p>
			</div>
			<img src="photos/refugees.png" alt="hi" class="inline"/>
			<p class="projectDescription"> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
			<img src="photos/dead.jpg" alt="hi" class="inline"/>
			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
			</p>
		</li>

	</ul>
	<div class="projectTitle">
		<p class="headlineText">US Reaction</p>
	</div>
	<ul id="projectList" style="list-style-type: none;">
		<li>
			<!-- evolutionary robotics project-->
			<div class ="projectTitle">
			    <p class="headlineText"> Bodenreform Reform</p>
			</div>
			<p class="projectDescription"> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

			At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
			</p>
			<div class ="projectTitle">
			    <p class="headlineText"> Resulting Displaced People</p>
			</div>
			<p class="projectDescription"> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"

			At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
			</p>
		</li>
	</ul>
	<div class="projectTitle">
		<p class="headlineText">Vassar's reaction to displaced peoples</p>
	</div>
	<ul id="projectList" style="list-style-type: none;">
		<!-- sub-headline list -->
		<li>
			<p class="projectDescription"> 
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			</p> 
			<!-- button text changes depending on project display state 
			<a class="projectButton" href="" ng-click="switchContent('temp_photo')">
				<span ng-if="displayedProject!=='temp_photo'">example open button</span>
				<span ng-if="displayedProject==='temp_photo'">click close button</span>
			</a> -->
		</li>
		<li>
			<!--<a href=""> more coming soon </a>-->
		</li>
	</ul>


	<div class="projectTitle">
		<p class="headlineText">Works Cited</p>
	</div>
	<ul id="projectList" style="list-style-type: none;">
		<!-- sub-headline list -->
		<li>
			<p class = "subText">http://nancorbittallen.com/wp-content/uploads/2014/03/Squirrel.jpg</p>
			<p class = "subText">http://nancorbittallen.com/wp-content/uploads/2014/03/Squirrel.jpg</p>
			<p class = "subText">http://nancorbittallen.com/wp-content/uploads/2014/03/Squirrel.jpg</p>
			<p class = "subText">http://nancorbittallen.com/wp-content/uploads/2014/03/Squirrel.jpg</p>
			
		</li>
		
	</ul>

</div>